@import '../node_modules/bootstrap/scss/bootstrap';

.red {
    background-color: $danger;
}
.green {    
    background-color: $green;
}
.yellow {    
    background-color: $yellow;
}
.blue {    
    background-color: $blue;
}
.cyan {    
    background-color: $cyan;
}
.magenta {    
    background-color: lighten(magenta, 25%);
}
.white {    
    background-color: $white;
}